<%- include('partials/header') %>


<!-- <div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Secrets</h1>
    <p class="lead">Don't keep your secrets, share them anonymously!</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div> -->


<div class="px-4 py-5 my-5 text-center">
  <img class="d-block mx-auto mb-4" src="images/blog.svg" alt="" width="400" height="100">
  <h1 class="display-5 fw-bold">Lawrence's Mind</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Have you ever talked to yourself. Have you ever observered yourself. Here is the place I talk to myself. Come and join me. Let's start to find ourselves.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a class="btn btn-primary btn-lg px-4 gap-3" href="/register" role="botton">Register</a>
      <a class="btn btn-outline-secondary btn-lg px-4" href = "/login" role="botton">Login</a>
    </div>
  </div>
</div>


<%- include('partials/footer') %>
